html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: black;
    max-width: 1800px;
}

body {
    width: 100%;
    /* background-color: rgb(135, 211, 194); */
    background-image: url("../images/mother.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    background-color: #1e857f;
    margin-top: 3%;
}

h1 {
    font-family: 'Cardo', serif;
    font-size: 4.4rem;
    padding: 3%;
    padding-bottom: 1%;
}

h2.name {
    font-size: 3.2rem;
    font-family: 'Merienda One', cursive;
    margin-bottom: 5%;
}

h3 {
    font-size: 2rem;
    color: black;
    font-family: 'Inria Serif', serif;
    background-color: lightgray;
    border: 2px solid black;
    padding: 2%;
}

nav {
    display: flex;
    flex-direction: row;
    font-family: 'Cardo', serif;
    font-size: 2.2rem;
    text-align: center;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: .5%;
}

a.nav {
    border: 0.3rem solid black;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    transition: .3s;
    background-color: #3572aa;
}

a.nav:hover {
    color: #52e2db;
    background-color: black;
    border: 0.3rem solid white;
    border-radius: 25px;
    transform: scale(1.3);
}

a.nav:visited {
    text-decoration: none;
}

#myProjects {
    font-size: 1.7rem;
    font-family: 'Cardo', serif;
    color: white;
    background-color: #3572aa;
    width: 140px;
    padding: 7px;
    border: 0.3rem solid black;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: .2s;
}

#myProjects:hover {
    color: #52e2db;
    background-color: black;
    border: 0.3rem solid white;
    transform: scale(1.3);
}

#myProjects:visited {
    text-decoration: none;
}

div.aboutMe {
    display: flex;
    color: white;
}

#inTheClouds {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border: 4px solid white;
    border-radius: 25px;
}

div.aboutMeSub {
    display: flex;
    flex-direction: column;
    font-family: 'Inria Serif', serif;
    font-size: 1.8rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 2%;
    width: 45%;
}

div.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

div.col {
    margin-bottom: 3%;
}

img.projectImage {
    margin-top: 5%;
    border:  5px solid white;
    border-radius: 25px;
}

img.projectImage:hover {
    border:  5px solid black;
    opacity: .9;
}

p.aboutMe {
    font-size: 2.0rem;
    margin-top: 5%;
    margin-right: 3%;
    font-family: 'Cardo', serif;
    background-color: black;
    padding: 5%;
    opacity: .9;
    border-radius: 25px;
}

.likeSee {
    font-family: 'Merienda One', cursive;
    font-size: 2.5rem;  
    padding: 1%;
    margin: auto;
    margin-top: 1%;
}

a.contactMe {
    font-family: 'Cardo', serif;
    font-size: 2.2rem;
    border: 0.3rem solid black;
    color: whitesmoke;
    background-color: #3572aa;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    border-radius: 25px;
    transition: .3s;
}

a.contactMe:hover {
    color: #52e2db;
    background-color: black;
    border: 0.3rem solid white;
    transform: scale(1.3);
}

a.contactMe:visited {
    text-decoration: none;
}

#navBot {
    margin: auto;
}

.socMediaLinks {
    display: flex;
    justify-content: center;
}

h6 {
    font-size: 1.2rem;
}

footer {
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    font-size: 2.3rem;
    text-align: center;
    background-color: #52e2db;
    margin-bottom: 3%;
}

/*---------------------break at 800px------------------*/


@media(max-width: 800px){

body {
    background-size: 160%;
    background-attachment: fixed;
}


nav {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Cardo', serif;
    font-size: 4.2rem;
    padding: 1.5%;
}

h2.name {
    font-size: 3rem;
    margin-bottom: 7%;
    width: auto;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 2.3rem;
    text-decoration: none;
    max-width: 30%;
}

#inTheClouds {
    width: 80%;
    height: 60%;
    margin-right: auto;
    margin-left: auto;
}

div.aboutMe {
    display: flex;
    width: auto;
    flex-direction: column;
    font-family: 'Inria Serif', serif;
    font-size: 1.8rem;
}

div.aboutMeSub {
    width: auto;
}

p.aboutMe {
    width: 80%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

#myProjects {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px;
    border: solid black 0.2rem;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.9rem;
}

p.likeSee {
    padding: 1%;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 2rem;
}
}

/*---------------------break at 500px------------------*/

@media(max-width: 500px){


h1 {
    font-size: 3.5rem;
}

h2.name {
    font-size: 2.2rem;
}

p.aboutMeSub {
    font-size: 1.6rem;
    margin-top: 20px;
}

.contactMe {
    font-size: 1.3rem;
}

#myProjects {
    font-size: 1.7rem; 
}
}